@ViewBag.UserName
@ViewBag.Email
@if  (ViewBag.UserName == null || string.IsNullOrEmpty(Convert.ToString(ViewBag.Email)))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>            
            
            <li>@Html.ActionLink("Log in", "Index", "Dashboard", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>      
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log Out", "LogOut", "User", routeValues: null, htmlAttributes: new { id = "LogoutLink" })</li>

    </ul>
}
